@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  background-color: #040D12;

  overflow: hidden;



}

:root{
  --dark-blue: #040D12;
  --darker-blue: #183D3D;
  --white-blue: #1C82AD;
  --whited: #03C988;
}